*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  /* background-image: url(./img/bg_one.png); */
  background-color: rgb(26, 26, 26);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header{
  background:rgba(27, 27, 27, 0.5);
  border-bottom:1px solid rgb(0, 0, 0);
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(243, 168, 168);
  font-size: 1.7rem;
  font-weight: bold;
  font-family: 'Grotto';
}

.logo{
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 10px;
  background: url(./img/cherry.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.messages{
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  overflow: auto;
}

.message-row{
  width: 77%;
  display: flex;
  justify-content: flex-end;
  padding-left: 20%;
}

.message{
  background:rgba(0, 0, 0, 0.8);
  color:white;
  border-radius: 10px;
  margin: 4px;
  display: inline-block;
  padding: 8px 8px;
}

.personOne{
  background: url(./img/cherry.png);
  background-size: contain;
  border-radius: 10px;
  margin: 4px;
  height: 1.5rem;
  width: 1.5rem;
}

.message-name{
  position: absolute;
  top: -10px;
  left: 7px;
  font-size: 0.55rem;
  color:black;
  font-weight: bold;
}

.text-input{
  background:rgba(255,255,255,0.2);
  border-top: 1px solid rgb(0, 0, 0);
  height: 4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input{
  background: black;
  border-color: black;
  border-radius: 1.5rem;
  padding-left: 1rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont;
  height: 1.75rem;
  width: calc(90% - 0.25rem);
  position: absolute;
}

.button{
  position: absolute;
  right: 3.25%; 
  border-color: white;
  border-radius: 1.75rem;
  background: url(./img/arrow-up-blk-white.png);
  cursor: pointer;
  background-size: cover;
  height: 1.75rem;
  width: 1.75rem;
}

.button[disabled]{
  opacity: 0.5;
  cursor: default;
}

.inputx{
  border:1px solid white;
  border-radius:1.6rem;
  height:1.6rem;
  width:calc(100% - 20px);
  background: rgba(0,0,0,0.85);
  color:white;
  padding:0 10px;
  outline:none;
}
.send-buttonx{
  position:absolute;
  right:12px;
  top:0.55rem;
  border-radius:100%;
  background:white;
  color:black;
  border:none;
  height: 1.4rem;
  width: 1.4rem;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  outline:none;
}

.send-buttonx[disabled]{
  cursor: default;
  background:grey;
}

.name-picker{
  display:flex;
  margin:0 12px;
}

.name-picker input{
  max-width:100px;
}
